@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* VARIABLES
color-primary: #16c2f4;
color-primary-light: #8be1fa;
color-primary-dark: #0b617a; */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::selection {
  background-color: #16c2f4;
  color: #fff;
}
.html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 1.2rem;
  color: #666;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

p,
li {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #555;
}

ul li {
  margin-left: 1.2rem;
}

span.bold {
  font-weight: bold;
}

.small {
  font-size: 1rem;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
}

.btn-primary {
  color: #fff;
  background: #16c2f4;
}

.btn-primary:hover {
  background: #0b617a;
  transition: background 0.3s ease-in-out;
}

.btn-more-content {
  margin-top: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #16c2f4;
  background: #eaf3f8;
  font-weight: bold;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #16c2f4;
  transition: all 0.5s;
  z-index: 5;
  position: relative;
  cursor: pointer;
}
#offer .btn-more-content,
#other .btn-more-content {
  background-color: #fff;
}
#offer .btn-more-content:hover,
#other .btn-more-content:hover,
.btn-more-content:hover {
  background-color: #16c2f4;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 1100px) {
  .menu-items li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 950px) {
  .menu-items li {
    font-size: 0.8rem;
  }
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #16c2f4;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  height: 45px;
  align-self: start;
  padding: 5px;
  /* font-size: 2.3rem; */
  /* margin-bottom: 1rem; */
  z-index: -1;
}

/* ............//// Showcase styling ////......... */

.showcase-area {
  height: 50vh;
  background: linear-gradient(rgba(22, 194, 244, 0.8), rgba(11, 96, 122, 0.8)),
    url("../img/hero_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
}

.main-title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.5em;
}
.main-subtitle {
  text-align: center;
  display: block;
  font-size: 1.6rem;
  font-weight: normal;
}
/* ......//popup//...... */
.popup {
  position: fixed;
  top: 50%;
  left: 0px;
  width: 0%;
  height: 0%;
  transform: translateY(-50%);
  /* background: #16c2f4; */
  background: linear-gradient(rgb(22, 194, 244), rgb(11, 96, 122));
  overflow: hidden;
  z-index: 200;
}
.popup .content {
  padding: 30px 20px;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  opacity: 0;
}
.popup .content .popup-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  color: #666;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50%;
}
.popup .content .popup-close-btn:hover {
  background: #eee;
}
.popup .content h2 {
  font-size: 40px;
  margin: 20px 0px;
}
.popup .content p {
  margin-bottom: 10px;
  color: #eee;
}

.popup.active {
  animation: popupAnimation 1500ms ease-in-out forwards;
}
.popup.active .content {
  opacity: 1;
  transition: all 300ms ease-in-out 1500ms;
}
@keyframes popupAnimation {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 100%;
    height: 8px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

/* ......//about us//...... */

#about {
  padding: 50px 0;

  background: #eaf3f8;
}

#about h2 {
  padding-top: 30px;
}

.about-wrapper img {
  width: 300px;
  margin-right: 15px;
  /* padding-bottom: 15px; */
  float: left;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
@media screen and (max-width: 850px) {
  .about-wrapper img {
    width: 200px;
  }
}
@media screen and (max-width: 600px) {
  .about-wrapper img {
    width: 150px;
  }
}
@media screen and (max-width: 400px) {
  .about-wrapper img {
    width: 100px;
  }
}
.about-read-more {
  display: block;
  opacity: 0;
  height: 0;
  transition: all 0.3s;
}
.about-read-more-open {
  display: block;
  opacity: 1;
  height: 5rem;
}

@media screen and (max-width: 875px) {
  .about-read-more-open {
    height: 10rem;
  }
}
/*NEWS / SLIDER*/
#news {
  padding: 50px 0;
  background: #fff;
}
#news h2 {
  padding-top: 30px;
}
.swiper {
  width: 100%;
  height: 100%;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
  padding-top: 15px;
}

.swiper-slide img {
  display: block;
  width: 90%;
  height: 90%;
  object-fit: cover;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* .........../staff/............ */
#staff {
  padding: 50px 0;
  background: #eaf3f8;
}
#staff h2 {
  padding-top: 30px;
}
.container-for-staff {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  /* background: #313131; */
}
.cards-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 1200px;
  flex-wrap: wrap;
}
.cards-container .staff-card {
  position: relative;
  width: 450px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background: #3f3f3f;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 610px) {
  .cards-container .staff-card {
    width: 320px;
  }
}

@media screen and (max-width: 380px) {
  .cards-container .staff-card {
    width: 280px;
  }
}

.cards-container .staff-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid transparent;
  border-top: 20px solid #16c2f4;
  border-right: 20px solid #16c2f4;
  border-top-right-radius: 10px;
}
.cards-container .staff-card.active::before {
  border-top: 20px solid #0b617a;
  border-right: 20px solid #0b617a;
}
.cards-container .staff-card .icon {
  margin-bottom: 10px;
}
.cards-container .staff-card .icon img {
  max-width: 260px;
}
.cards-container .staff-card .content {
  position: relative;
  height: 215px;
  overflow: hidden;
}
.cards-container .staff-card.active .content {
  height: auto;
}
.cards-container .staff-card.active .content::before {
  display: none;
}
.cards-container .staff-card .content::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(transparent, #3f3f3f);
}
.cards-container .staff-card .content h3 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 10px;
}
.cards-container .staff-card .content p {
  font-weight: 300;
  font-size: 1rem;
  color: #ccc;
}
@media screen and (max-width: 610px) {
  .cards-container .staff-card .content p {
    font-size: 1.2rem;
  }
}

.cards-container .staff-card .more {
  position: relative;
  padding: 10px 15px;
  background: #16c2f4;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  color: #383838;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 14px;
}
.cards-container .staff-card.active .more {
  background: #0b617a;
  color: #fff;
}
.cards-container .staff-card .more::before {
  content: "więcej";
}
.cards-container .staff-card.active .more::before {
  content: "mniej";
}

/* ........./ Offer /.......... */
#offer {
  padding: 50px 0;
}
#offer h2 {
  padding-top: 30px;
}
#offer h3 {
  font-size: 1.2rem;
}
.offer-wrapper img {
  width: 300px;
  margin-right: 15px;
  border-radius: 10px;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.5);
  /* padding-bottom: 15px; */
  float: left;
}
@media screen and (max-width: 850px) {
  .offer-wrapper img {
    width: 200px;
  }
}
@media screen and (max-width: 600px) {
  .offer-wrapper img {
    width: 150px;
  }
}
@media screen and (max-width: 400px) {
  .offer-wrapper img {
    width: 100px;
  }
}
.offer-read-more {
  display: block;
  opacity: 0;
  height: 0;
  transition: all 0.3s;
  visibility: hidden;
}
.offer-read-more-open {
  display: block;
  opacity: 1;
  height: 30rem;
  visibility: visible;
}
@media screen and (max-width: 970px) {
  .offer-read-more-open {
    height: 40rem;
  }
}
@media screen and (max-width: 600px) {
  .offer-read-more-open {
    height: 46rem;
  }
}

/* ........./ Documents /.......... */
#documents {
  background: #eaf3f8;
  padding: 50px 0;
}
#documents h2 {
  padding-top: 30px;
}
#documents h3 {
  font-size: 1.2rem;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: #000 solid 1px;
  padding-top: 1rem;
}

/* ........./ Other /.......... */
#other {
  padding: 50px 0;
}
#other h2 {
  padding-top: 30px;
}
#other h3 {
  font-size: 1.2rem;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: #000 solid 1px;
  padding-top: 5rem;
}
#other div > h3:first-of-type {
  padding-top: 1rem;
}

/* ////newspaper/// */

.newspaper-container {
  display: flex;
  justify-content: space-evenly;
}

.newspaper-container img {
  display: block;
  width: 100%;
  margin: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.img-container {
  margin: 0 1rem;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
/* .img-container:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1rem);
} */

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
  color: #fff;
  font-size: 2.2rem;
}

.img-content a {
  font-size: 1.2rem;
}

.img-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  opacity: 0;
  z-index: 1;
  border-radius: 10px;

  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.img-container:hover .img-content {
  opacity: 1;
  top: 40%;
}
/* ////gallery/// */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 1rem;
}
@media screen and (max-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0;
  }
}

.gallery-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.gallery-item:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.25);
  transform: translateY(-1rem);
}
.gallery-item.roza {
  text-align: left;
}
.gallery-item.roza a {
  font-size: 0.8rem;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.film-title {
  text-transform: uppercase;
  letter-spacing: 1.5;
}

/* ////privacy policy/// */
.privacy-policy-title {
  text-align: center;
  list-style: upper-roman;
  list-style-position: inside;
  font-weight: bold;
  text-transform: uppercase;
}
.privacy-policy-title li {
  font-size: 1rem;
}
.privacy-policy-content {
  text-align: left;
  font-weight: normal;
  text-transform: none;
}
.privacy-policy-content:last-child {
  margin-bottom: 2rem;
}
.privacy-policy-content li {
  font-size: 0.9rem;
}
.privacy-policy-read-more {
  display: none;
}
.privacy-policy-read-more-open {
  display: block;
}

/* ......../ footer /.......... */
#contact {
  padding: 50px 0 25px 0;
  background-color: #3f3f3f;
}
#contact h2 {
  padding-bottom: 30px;
  color: #fff;
}
#contact h3 {
  font-size: 1.2rem;
  color: #16c2f4;
  margin-bottom: 0.4rem;
}
#contact p {
  color: #fff;
  font-size: 0.8rem;
  margin: 0;
  /* padding: 10px; */
}
.footer-wrapper {
  /* display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 1025px) {
  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 350px) {
  .footer-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .column {
    text-align: center;
  }
}
.footer-contact-information li {
  color: #fff;
  text-decoration: none;
  list-style: none;
  margin: 0;
}
.footer-contact-information li a {
  color: #fff;
}
.footer-wrapper-below {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-top: 25px;
  border-top: solid 1px #fff;
}
.footer-logo {
  width: 150px;
  justify-self: center;
  /* padding: 10px; */
}

/* ......../ media query /.......... */

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  /* ......./ newspaper /......... */

  .newspaper-container {
    flex-direction: column;
    align-items: stretch;
  }

  .newspaper-type:not(:last-child) {
    margin-bottom: 3rem;
  }

  .newspaper-type {
    box-shadow: 5px 5px 10px 0 #aaa;
  }

  .img-container {
    margin: 0;
  }
}

@media (max-width: 610px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li {
    font-size: 1.6rem;
  }

  .logo {
    position: absolute;
    top: 06px;
    right: 15px;
    font-size: 3rem;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .img-container h3 {
    font-size: 1.5rem;
  }

  .img-container .btn {
    font-size: 0.7rem;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}
